/src/dusk/target
/src/dusk_linux/target
/src/dusk_cli/target
/target
/Cargo.lock
/src/dusk/Cargo.lock
/history.sqlite3
/history.sqlite3-shm
/history.sqlite3-wal
/tests/cli/history.sqlite3
/tests/cli/history.sqlite3-shm
/tests/cli/history.sqlite3-wal
/vendor/capnproto
/build
/docs/site
/**/__pycache__
/**/dusk*.so
/.claude/settings.local.json
/.claude/worktrees/**
.superpowers/
